<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias alias="employee"  type="kr.or.ddit.smartware.employee.model.Employee"/>
		<typeAlias alias="chat"  type="kr.or.ddit.smartware.messenger.model.Chat"/>
		<typeAlias alias="chatEmp"  type="kr.or.ddit.smartware.messenger.model.ChatEmp"/>
		<typeAlias alias="message"  type="kr.or.ddit.smartware.messenger.model.Message"/>
		<typeAlias alias="board"  type="kr.or.ddit.smartware.board.model.Board"/>
		<typeAlias alias="post"  type="kr.or.ddit.smartware.post.model.Post"/>
		<typeAlias alias="empCalendar"  type="kr.or.ddit.smartware.calendar.model.EmpCalendar"/>
		<typeAlias alias="depCalendar"  type="kr.or.ddit.smartware.calendar.model.DepCalendar"/>
		<typeAlias alias="category"  	type="kr.or.ddit.smartware.calendar.model.Category"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="kr/or/ddit/smartware/config/mybatis/mapper/employee.xml"/>
		<mapper resource="kr/or/ddit/smartware/config/mybatis/mapper/chat.xml"/>
		<mapper resource="kr/or/ddit/smartware/config/mybatis/mapper/board.xml"/>
		<mapper resource="kr/or/ddit/smartware/config/mybatis/mapper/post.xml"/>
		<mapper resource="kr/or/ddit/smartware/config/mybatis/mapper/calendar.xml"/>
	</mappers>
	
</configuration>