<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

<link rel="stylesheet" href="../../../css/colorPick.min.css">
<script src="../../../js/jquery-3.4.1.min.js"></script>
<script src="../../../js/colorPick.min.js"></script>

<style>
.colorPickSelector {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all linear .2s;
}

.colorPickSelector:hover { 
	transform: scale(1.1); 
}
</style>
<script>
	$(function() {
		$(".colorPickSelector").colorPick();
		
		$(".colorPickSelector").colorPick({
			  'initialColor': '#3498db',
			  'allowRecent': false,
			  'allowCustomColor': false,
			  'palette': ["#1abc9c", "#16a085", "#2ecc71", "#27ae60", "#3498db", "#2980b9", "#9b59b6", "#8e44ad", "#34495e", "#2c3e50", "#f1c40f", "#f39c12", "#e67e22", "#d35400", "#e74c3c", "#c0392b", "#ecf0f1", "#bdc3c7", "#95a5a6", "#7f8c8d"],
			  'onColorSelected': function() {
			    this.element.css({'backgroundColor': this.color, 'color': this.color});
			  }
		});
	});
	
	
</script>
</head>
<body>
	<div class="colorPickSelector"></div>
</body>
</html>