.popoverTitleCalendar {
  width: 300px;
  height: 100%;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 5px 5px 0 0;
}

.popoverInfoCalendar i {
  font-size: 14px;
  margin-right: 10px;
  line-height: inherit;
  color: #d3d4da;
}

.popoverInfoCalendar p {
  margin-bottom: 1px;
}

.popoverDescCalendar {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #E3E3E3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.popover-title {
  background: transparent;
  font-weight: 600;
  padding: 0 !important;
  border: none;
}

.popover-content {
  padding: 15px 15px;
  font-size: 13px;
  width: 300px;
}

.popover {
  background: #fff !important;
  color: #2E2F34;
  border: none;
  margin-bottom: 10px;
  max-width: 300px !important;
}
.popover-header {
	padding: 0px !important;
}
.popover-title {
  background: #F7F7FC;
  font-weight: 600;
  padding: 15px 15px 11px;
  border: none;
}

/*popover arrows*/
.popover.top .arrow:after {
  border-top-color: #fff;
}

.popover.right .arrow:after {
  border-right-color: #fff;
}

.popover.bottom .arrow:after {
  border-bottom-color: #fff;
}

.popover.left .arrow:after {
  border-left-color: #fff;
}

.popover.bottom .arrow:after {
  border-bottom-color: #fff;
}

.categoryList, #addEmpCategory, #addDepCategory, 
#empCategoryOn, #empCategoryOff, #depCategoryOn, #depCategoryOff {
	cursor: pointer;
}

.filter > h3 {
	display: inline;
}

.filter .categoryAll {
	float: right;
	margin-left: 10px;
}

.col-sm-3.col-form-label {
	text-align: right;
}

.form-group.row {
	align-items: center;
}

.btn-colorselector {
	width: 50px;
	height: 35px;
}

.btnCateModify {
	background: none;
	border: none;
	float: right;
	vertical-align: middle;
	text-align: center;
	width: 40px;
	cursor: pointer;
 	visibility: hidden;
}

button:focus {
	outline: 0;
}
