.chart, .taskList {
	width: auto;
	height: 300px;
}

table {
	width: 100%;
}

.taskList {
	width: 600px;
}

td > h2 {
	text-align: center;
} 

.projectContent {
	border: 1px solid silver;
	padding: 30px;
	letter-spacing: 5px;
}

.projectGroup {
	margin-top: 20px;
	color: black;
}

.groupTitle {
	font-size: 25px;
	vertical-align: middle;
}

.groupTitle > i {
	width: 40px;
	text-align: center;
}

.groupContent {
 	font-size: 20px;
}

/* modal css */
.col-sm-2.col-form-label {
	text-align: right;
	font-size: 20px;
}
/*
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

*/






